<ion-item-sliding #slidingRefCat>
  <ion-item>
    <ion-label>{{ todoList.name }}</ion-label>

    <ion-buttons slot="end">
      @if (enableAddTask) {
      <ion-button (click)="openModalTask(todoList)" fill="clear">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      }

      <ion-button (click)="editCategorie()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="toggleCategory()" fill="clear">
        <ion-icon
          slot="icon-only"
          name="chevron-down-outline"
          [name]="isExpanded ? 'chevron-up-outline' : 'chevron-down-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item-options>
    <ion-item-option (click)="deleteCategory()" color="danger"
      >Delete</ion-item-option
    >
  </ion-item-options>
</ion-item-sliding>

@if(isExpanded){ @for (item of todoList.task; track $index) {
<ion-item-sliding #slidingRef>
  <ion-item>
    <ion-checkbox
      [checked]="item.complete"
      (ionChange)="completeTask(item, $event.detail.checked)"
      labelPlacement="end"
      >{{ item.title }}</ion-checkbox
    >
  </ion-item>
  <ion-item-options>
    <ion-item-option (click)="deleteTask(item)" color="danger"
      >Delete</ion-item-option
    >
  </ion-item-options>
</ion-item-sliding>
} }
