<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TODO-LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-search-bar [(value)]="searchTerm" placeholder="Buscar categorías...">
  </app-search-bar>

  <h2>Categorías</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let cat of filteredCategories; let i = index; trackBy: trackByCategory">
      <ion-item (click)="openCategory(cat)">
        <app-category-card [title]="cat.title" [tasks]="cat.total ?? cat.tasks.length" [completed]="cat.completed"
          [color]="cat.color" [icon]="cat.icon" (edit)="editCategory(i)">
        </app-category-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteCategory(i)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>