<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoryName | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="allCompleted" (click)="deleteCompletedTasks()" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Resumen -->
  <h2>{{ completedCount }} de {{ tasks.length }} tareas completadas</h2>

  <!-- Buscar tarea -->
  <ion-searchbar
    [(ngModel)]="searchTask"
    placeholder="Buscar tareas..."
  ></ion-searchbar>

  <!-- Añadir tarea -->
  <div class="add-task">
    <ion-input
      [(ngModel)]="newTask"
      placeholder="Añadir nueva tarea..."
    ></ion-input>
    @if(buttonTaskEnable){
      <ion-button shape="round" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    }
  </div>

  <!-- Lista de tareas -->
  <ion-list>
    <!-- Toggle Todas -->
    <ion-item *ngIf="tasks.length > 0" (click)="toggleAll()" lines="full" style="--background: #f0f4f8; margin-bottom: 12px; border-radius: 12px;">
      <ion-icon
        slot="start"
        [name]="allCompleted ? 'checkmark-circle' : 'ellipse-outline'"
        [color]="allCompleted ? 'primary' : 'medium'"
        style="font-size: 28px; margin-right: 16px;">
      </ion-icon>
      <ion-label style="font-weight: 700; color: #0960ac;">
        {{ allCompleted ? 'Desmarcar Todas' : 'Seleccionar Todas' }}
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let task of filteredTasks; let i = index; trackBy: trackByTask" [ngClass]="{'item-has-done': task.completed}">

      <!-- Opciones deslizar izquierda (Editar) -->
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="editTask(i, task)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- Item -->
      <ion-item (click)="toggleTask(i)" lines="none">
        <ion-icon
          slot="start"
          [name]="task.completed ? 'checkmark-circle' : 'ellipse-outline'"
          [color]="task.completed ? 'success' : 'medium'"
          style="font-size: 28px; margin-right: 16px;">
        </ion-icon>
        <ion-label [ngClass]="{'done': task.completed}">
          {{ task.title }}
        </ion-label>
      </ion-item>

      <!-- Opciones deslizar -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTask(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
