<ion-header color="" [translucent]="true">
  <ion-toolbar>
    <ion-title> TodoList </ion-title>
      <ion-button slot="end" (click)="toggleTheme()">
  <ion-icon [name]="isDark ? 'sunny-outline' : 'moon-outline'"></ion-icon>
</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-lists [todoLists]="todoList"></app-lists>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
